.split-view {
  display: grid;
  grid: 100vh / auto;
  grid-template-columns: 25% 75%;
  overflow: visible;
}
.contacts-section {
  display: grid;
  /* height: 100%; */
  background-color: white;
  grid-template-rows: 10% auto;
  max-height: 100vh;
  overflow-y: scroll;
  overflow-x:hidden;
}
.chat-section {
  display: grid;
  grid-template-rows: 10% 80% 10%;
  /* overflow: scroll; */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow: visible;
}
.contacts-section::-webkit-scrollbar {
  display: none;
}
.messages {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.messages::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */

.unread-messages {
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.unread-messages div {
  letter-spacing: 1px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: inline-block;
  /* color: rgb(121, 121, 233); */
  padding: 0.25rem;
  font-weight: bold;
  /* border-radius: 5rem; */
  border-left: 5px solid rgb(121, 121, 233);
  /* border-right: 2px solid black ; */
}
/* .no-req{
    height: 100%;
    margin: auto !important;
    color: red;
    display: flex;
}
.no-req h1{
    text-align: center;
    margin: auto;
    align-self: center;
} */
.friends-innerdiv {
  margin: auto;
  /* background-color: black; */
}
.friends-section {
  /* background-color: ; */
  height: 100%;
  display: flex;
  /* color: rgb(88, 87, 87); */
}
.friends-heading {
  font-size: 1rem;
  padding-bottom: 2rem;
  display: block;
  margin: auto;
  text-align: center;
}
.friends-button {
  background-color: rgb(121, 121, 233);
  display: block;
  border: none;
  border-radius: 5rem;
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
}
.friends-input {
  display: block;
  outline: none;
  background-color: #dee3de;
  width: 80%;
  font-size: 1.5rem;
  border: none;
  border-radius: 5rem;
  margin: auto;
  margin-bottom: 1rem;
  padding-left: 1rem;
}
.input-section input:focus {
  border: 2px solid rgb(121, 121, 233);
}
.my-navbar {
  background-color: white;
  display: flex;
  align-items: center;
  overflow: visible;
}
.left-navbar {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile-img {
  width: 40px;
  height: 40px;
  /* object-fit:fill */
  border-radius: 50%;
  margin-right: 1rem;
}
.status {
  color: green;
  margin-top: 0.25rem;
  width: 3rem;
}
.back-button {
  background-color: transparent;
  border: none;
  margin-left: 1rem;
  margin-right: 1rem;
}
.back-button img {
  width: 1.5rem;
}
.the-send-button {
  justify-self: center !important;
  align-self: center !important;
  background-color: rgb(121, 121, 233);
  border: none;
  border-radius: 5rem;
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 1rem;
  padding-right: 1rem;
}
.send-button img {
  padding-bottom: 0.5rem;
}
hr {
  color: white;
  background-color: white;
}
.tooltip-text::after {
  content: " ";
  position: absolute;
  bottom: 100%; /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
.tooltip-text{
    visibility: hidden;
}
.add-friend-btn:hover .tooltip-text{
    visibility: visible;
}
.requests-btn:hover .tooltip-text{
    visibility: visible;
}
.pending_requests {
  height: 100%;
  background-color: white;
}
.request-block {
  display: flex;
  justify-content: space-between;
  /* padding: 1rem; */
}
.request-block button {
  /* border: none; */
  /* border-radius: 50%; */
  /* margin-left: 1rem; */
}
/* .accept-btn {
  background-color : rgb(129, 199, 129);
}*/
.decline-btn {
  background-color: #f87171;
}
/* .decline-btn:hover {
  background-color: rgba(228, 130, 130, 0.822);
} */
.messages_section {
  /* background-color: black; */
  overflow: visible;
}
.chat-bubble {
  /* flex-wrap: wrap; */
  /* width: auto; */
  /* display: block; */
  width: max-content;
  max-width: 45rem;
  /* width: ; */
  /* flex-wrap: wrap; */
  /* max-width: min(min-content, 45rem); */
  /* max-width: min(min-content, 100px); */
  /* max-width: 45rem; */
}
.triangle {
  width: 0;
  height: 0;
  border-left: 15px solid transparent !important;
  border-right: 15px solid transparent !important;
  border-bottom: 15px solid;
  border-top: transparent !important;
  transform: rotate(180deg);
  /* transform: rotateY(180deg); */
}
.pending-tab:hover,
.active-tab:hover {
  color: black;
  border-color: black;
}
.www {
  min-width: 5rem;
}
